tmp/
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
doc/prokka-*
bug/
db/cm/*.i1*
db/kingdom/*/sprot.p*
db/hmm/*.h3?
db/genus/*.p*

