name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Pull Prokka
        uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          #python-version: 3.12
          miniforge-version: latest
          #miniforge-variant: Mambaf
          channels: conda-forge,bioconda
          conda-remove-defaults: true
          channel-priority: strict
          activate-environment: prokka
          environment-file: environment.yml
          auto-update-conda: true

      - name: Add Prokka to PATH
        run: |
          rm -rf "${{ github.workspace }}/binaries"
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Test Prokka
        run: |
          prokka --version
          prokka --help
          ! prokka --doesnotexist
          prokka --depends
          prokka --setupdb
          prokka --listdb
          prokka --cpus 2 --outdir asm --prefix asm test/plasmid.fna
          grep '>' asm/asm.fna
          prokka --cleandb
